* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	height: 100%;
}

html {
	background-color: lightblue;
	min-height: 100vh;
	height: 100%;
}

#container {
	background-image: url(../img/pexels-tirachard-kumtanom-347139.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left bottom;
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

/* Fonts */

@font-face {
	font-family: "SF Fedora";
	src: url(../fonts/SF-Fedora/sf-fedora.ttf);
}

@font-face {
	font-family: "Arya";
	src: url(../fonts/Arya/Arya-Regular.ttf);
}

@font-face {
	font-family: "Arya";
	font-weight: bold;
	src: url(../fonts/Arya/Arya-Bold.ttf);
}

.attribs {
	/* position: absolute;
	bottom: 5%;
	right: 5%; */
	font-family: "Arya";
	font-size: 1.5em;
	font-style: bold;
	letter-spacing: 2px;
	text-decoration: none;
	color: black;
	backdrop-filter: 2px;
}

.attribs:hover {
	text-decoration: underline;
}

/* startUI */

.start-ui {
	max-width: 1440px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	height: 100%;
	padding-top: 8em;
}

.start-ui .game-title {
	font-family: "SF Fedora";
	font-size: 1.75em;
	/* margin-bottom: 2em; */
}

.start-choices {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* padding: 0 10em; */
}

.start-choice {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.start-choice span {
	font-family: "SF Fedora";
	font-size: 1.5em;
	/* letter-spacing: 5px; */
}

/* .start-paper {
	align-self: flex-start;
} */

.start-choice .start-img {
	/* width: 200px; */
	/* height: 200px; */
	width: 100px;
	height: 100px;
	background-color: #f4f4f4;
	border: 1px solid black;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
}

.start-img img {
	width: 90%;
}

.start-ui .start-game-btn {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	background-color: #903b33;
	cursor: pointer;
	margin-top: 2em;
}

.start-ui .start-game-btn:hover {
	background-color: #b6362a;
}

.start-ui .start-game-btn span {
	font-family: "Arya";
	font-weight: bold;
	font-size: 30px;
	padding: 0.5em 1em;
	color: #f4f4f4;
}

/* ############################## MAIN GAME ########################### */

.main-game {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	/* overflow: hidden; */
	max-width: 1440px;
}

.border {
	border: 1px solid black;
}

.menu-btns-group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	margin: 1em 0;
	width: 80%;
	max-width: 100px;
}

.quit-btn,
.reset-btn,
.settings-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(51, 144, 105, 1);
	border-radius: 5px;
	min-height: 42px;
	min-width: 42px;
}

.quit-btn {
	background-color: rgb(214, 44, 28);
}
.quit-btn:hover {
	background-color: rgba(255, 55, 36, 1);
}

.reset-btn:hover {
	background-color: rgb(56, 167, 120);
}

.settings-btn {
	background-color: rgb(140, 140, 140);
}
.settings-btn:hover {
	background-color: rgb(120, 120, 120);
}
.quit-btn img,
.reset-btn img,
.settings-btn img {
	width: 80%;
}

.display {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
	margin-bottom: 0.5em;
}

.display__announcer {
	min-height: 150px;
	width: 100%;
	border-radius: 15px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
	backdrop-filter: blur(10px);
	padding: 2em 0.5em 0 0.5em;
}

.display__announcer p {
	font-family: "Arya";
	font-size: 1.3em;
	line-height: 1;
}

.display__comp-choice-group,
.display__human-choice-group {
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-color: #f4f4f4;
	/* width: 350px; */
	/* height: 450px; */
	border-radius: 15px;
	max-width: 70%;
	max-height: 200px;
}

.display__human-choice-group::before,
.display__comp-choice-group::before {
	content: "You";
	font-family: "Arya";
	font-weight: bold;
	font-size: 2em;
	position: absolute;
	top: 0.5em;
	line-height: 0;
}

.display__comp-choice-group::before {
	content: "Computer";
}

.card_choice {
	width: 360px;
	height: 480px;

	background-image: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 0.5em;
}

.score {
	font-family: "Arya";
	font-weight: bold;
	font-size: 2em;
	color: #424242;
	align-self: flex-end;
	margin-right: 0.5em;
}

/* Main Game Buttons */

.button {
	background-color: #903b33;
	border: none;
	padding: 1em;
	border-radius: 5px;
}

.button:hover {
	background-color: #b6362a;
}

.button span {
	font-family: "Arya";
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 2px;
	color: #f4f4f4;
}

.button.choice {
	min-width: 80px;
}

.choice-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.choices {
	width: 80%;
	display: flex;
	gap: 2em;
	margin-bottom: 0.5em;
	position: relative;
}

/* ################################## MODALS ############################### */

/* modal - general settings */
.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s;
}

.modal-bg.modal-active {
	visibility: visible;
	opacity: 1;
}

.modal {
	background-color: #f4f4f4;
	width: 90%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em 1em;
	border-radius: 10px;
}

.modal .modal-btns {
	display: flex;
	align-self: center;
	justify-content: center;
	gap: 2em;
}

.modal-btns button,
.save {
	border: none;
	background-color: #903b33;
	color: #f4f4f4;
	border-radius: 5px;
	padding: 1em 1.5em;
}

.modal-btns button:hover,
.save:hover {
	background-color: #b6362a;
}

/* modal-win + modal-lose */
.modal-win .modal > span,
.modal-lose .modal > span {
	font-family: "Arya";
	font-size: 1.2em;
	margin-bottom: 3em;
	text-align: center;
}

.modal-win .modal > span:nth-child(1),
.modal-lose .modal > span:nth-child(1) {
	margin-bottom: 0;
}

.modal-win .modal .modal-title,
.modal-lose .modal .modal-title {
	font-family: "SF Fedora";
	font-size: 2em;
}

/* modal-thanks */
.modal-thanks span {
	font-family: "SF Fedora";
	font-size: 2em;
}

/* modal-quit */
.modal-quit .modal,
.modal-reset .modal {
	padding: 3em;
	text-align: center;
}

.modal-quit .modal > span,
.modal-reset .modal > span {
	font-family: "SF Fedora";
	font-size: 1.5em;
	margin-bottom: 1em;
}

/* modal-reset */

/* modal-settings */
.modal-settings .modal {
	align-items: unset;
	gap: 1.5em;
	padding: 2em;
}

.modal-settings label,
.modal-settings .label {
	font-family: "SF Fedora";
	font-size: 1em; /* 1.5em*/
	width: 100%;
	display: flex;
	align-items: center;
}

.modal-settings label span,
.modal-settings .label span {
	display: inline-block;
	margin: 0 0 0 10px;
	font-size: 1em;
}

.modal-settings label[for="music-checkbox"] span {
	margin: 0 0 0 37px;
}

.modal-settings .save {
	margin-left: auto;
	order: 2;
}

.modal-settings .checkbox-group:nth-child(2) {
	order: 3;
}

.modal-settings .volume-slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.modal-settings .volume-slider:hover {
	opacity: 1;
}

.modal-settings .volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #903b33;
	cursor: pointer;
}

.modal-settings .volume-slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #903b33;
	cursor: pointer;
}

.modal-settings input[type="checkbox"] {
	display: none;
}

.modal-settings label[for*="checkbox"] {
	margin-right: 20px;
}
.modal-settings .checkboxes {
	display: flex;
	flex-wrap: wrap;
}

.modal-settings .checkbox-group label {
	gap: 0.5em;
}

.modal-settings .checkmark {
	display: inline-block;
	background-color: #e3e3e3;
	border-radius: 5px;
	width: 25px;
	height: 25px;
	position: relative;
}

.modal-settings .checkmark:hover {
	background-color: #d3d3d3;
}

.modal-settings input:checked ~ .checkmark {
	background-color: #2196f3;
}

.modal-settings .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.modal-settings input:checked ~ .checkmark:after {
	display: inline-block;
}

.modal-settings .checkmark:after {
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* modal-enable-sounds */
.modal-enable-sounds .question {
	font-family: "SF Fedora";
	font-size: 2em;
	margin-bottom: 1.5em;
}

.modal-enable-sounds .modal-btns {
	margin-bottom: 0.5em;
}

.modal-enable-sounds .tip {
	font-size: 1em;
	color: rgb(90, 90, 90);
}

/*  */
.hidden {
	display: none !important;
}

button span {
	pointer-events: none;
}

@media screen and (min-width: 440px) {
	.modal-settings .save {
		margin-left: unset;
		order: 4;
		margin-top: 1em;
	}

	.modal-settings label[for="music-checkbox"] span {
		margin: 0 0 0 10px;
	}
	/* modal-settings */
	.modal-settings label,
	.modal-settings .label {
		font-size: 1.5em;
	}

	.modal-settings .volume-slider::-webkit-slider-thumb {
		width: 25px;
		height: 25px;
	}
}

@media screen and (min-width: 508px) {
	.modal-settings .save {
		margin-left: auto;
		margin-top: 0;
	}
}

@media screen and (min-width: 576px) {
	.start-ui .game-title {
		font-size: 2.5em;
		margin-bottom: 1em;
	}
	.start-choice .start-img {
		width: 150px;
		height: 150px;
	}

	.start-choice span {
		font-size: 2em;
	}

	.main-game {
		justify-content: center;
	}

	.menu-btns-group {
		align-self: flex-end;
	}

	.display {
		flex-direction: row;
		margin: 2em 0;
	}

	.display__comp-choice-group,
	.display__human-choice-group {
		max-width: 250px;
		height: 300px;
		max-height: unset;
		margin-bottom: 1em;
	}

	.display__announcer {
		min-height: 250px;
		padding-top: 4em;
	}

	.display__announcer p {
		font-size: 1.75em;
	}

	.card_choice {
		width: 250px;
		height: 500px;
	}

	.choices {
		width: 100%;
	}
	.choice-btns {
		justify-content: center;
	}

	.modal {
		max-width: 540px;
	}
	.modal-quit .modal > span,
	.modal-reset .modal > span {
		font-size: 2em;
		margin-bottom: 1em;
	}

	/* modal-win + modal-lose */
	.modal-win .modal > span,
	.modal-lose .modal > span {
		font-size: 1.5em;
		margin-bottom: 2em;
		text-align: center;
	}

	.modal-win .modal .modal-title,
	.modal-lose .modal .modal-title {
		font-family: "SF Fedora";
		font-size: 2.5em;
	}
	/* modal-thanks */
	.modal-thanks span {
		font-size: 3em;
	}
}

@media screen and (min-width: 768px) {
	#container {
		height: auto;
	}
	.main-game {
		width: 100%;
		max-width: 720px;
	}

	.display {
		gap: 2.5em;
	}
	.display__comp-choice-group,
	.display__human-choice-group {
		height: 400px;
		margin-bottom: 1em;
	}

	.display__announcer p {
		font-size: 2em;
	}
}

@media screen and (min-width: 992px) {
	.main-game {
		max-width: 960px;
	}
	.start-ui .game-title {
		margin-bottom: 2em;
	}
	.display {
		gap: 10em;
	}

	.choice-btns {
		gap: 4em;
	}

	.button.choice {
		min-width: 150px;
	}

	.button.choice span {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 1200px) {
	.main-game {
		max-width: 1140px;
	}
	.start-ui .game-title {
		font-size: 3em;
	}
	.start-choice .start-img {
		width: 200px;
		height: 200px;
	}

	.start-choice span {
		font-size: 2.5em;
	}

	.start-choice.start-paper {
		align-self: flex-start;
	}
}

@media screen and (min-width: 1400px) {
}
